footer
	br
	br
	center
		img(style='width:100px; height:55px',src='/images/logo1.png')
	br
	center <font color="00284a">2018 © FlowerSoft</font> | <font color="00284a">Universidad Técnica Federico Santa María</font>
	br