	<div class="container">
		<div class="row">

			<!-- FORM -->
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<form action="/users/login" method="POST">
							<div class="form-group">
								<input type="text" name="email" placeholder="correo electrónico" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="contraseña" class="form-control">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Entrar</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>