.navbar-default {
    background-color: #fbd341;
    border-color: #fbd341;
}
.navbar-default1 {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
#todo {
   width:100%;  
}
#izquierda, #derecha {
   width:380px;  
}
#contenido {  	
   width:330px;  
}
#izquierda {  	
   float: left;  
}    
#derecha {  	
   float: right;  
}
#contenido {  	
   margin-left: 450px;
}
#izquierda, #derecha {
   margin-left: 50px;  
}