include templates/default
  include templates/nav_admin

  center
    .container-fluid
        .wrapper
          form.form-signin(action='/admin/crearPedido', method='POST')
            h2.form-signin-heading.text-center Creación de pedido
            .form-group
              label(for='exampleFormControlInput1') Ingrese el detalle del pedido
              input#exampleFormControlInput1.form-control(type='text', placeholder='Solo flores rojas')
            .form-group
              label(for='exampleFormControlInput1') Ingrese el total
              input#exampleFormControlInput1.form-control(type='number', placeholder='0')
            .form-group.input-append.date.form_datetime(id="crearPedidoFormDatetime")
              label(for='exampleFormControlInput1') Ingrese la fecha de entrega
               input.form_datetime( id="crearPedidoDate", size='16', type='date', value='2012-06-15')
            .form-group
              label(for='exampleFormControlSelect1') Seleccione un Cliente
              select#exampleFormControlSelect1.form-control
                option(value='')
                each item in usuarios
                  option(value='#{item.id}') #{item.nombre} - #{item.rut}

            button.btn.btn-lg.btn-block(type='submit') Enviar


//incluir catalogo
    include productos
