include templates/default

  include templates/nav_admin

  center
    .container-fluid 
        .wrapper
          form.form-signin(action='/dashboard/crearPedido', method='POST')
            h2.form-signin-heading.text-center Creación de pedido
            input.form-control(type='text', name='detalle', placeholder='Ingrese el detalle del pedido', required='', autofocus='')
            input.form-control(type='text', name='fecha', placeholder='Ingrese la fecha de entrega', required='', autofocus='')
            input.form-control(type='text', name='total', placeholder='Total a cobrar', required='', autofocus='')
            input.form-control(type='text', name='id_cliente', placeholder='Ingrese el id del cliente', required='')
            input.form-control(type='text', name='cliente', placeholder='Ingrese el nombre del cliente', required='')
      
            button.btn.btn-lg.btn-block(type='submit') Enviar

