include templates/default
  include templates/nav

  .nav-side-menu

      i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
      .menu-list
        ul#menu-content.menu-content.collapse.out
          li.active
            a(href='/dashboard')
              i.fa.fa-lg
              |  Dashboard
          li.collapsed(data-toggle='collapse', data-target='#products')
            a(href='#')
              i.fa.fa-lg
              |  Pedidos
              span.arrow
          ul#products.sub-menu.collapse
            li.active
              a(href='/dashboard/pedidos') Ver Pedidos
            li
              a(href='/dashboard/crearPedido') Crear Pedido
          li.collapsed(data-toggle='collapse', data-target='#service')
            a(href='/dashboard/editUsuario')
              i.fa.fa-lg
              |  Configuración
          li.collapsed(data-toggle='collapse', data-target='#new')
            a(href='/dashboard/logout')
              i.fa.fa-lg
              |  Logout

    center
      .container-fluid 
          .wrapper
            form.form-signin(action='/dashboard/crearProducto', method='POST')
              h2.form-signin-heading.text-center Creación de producto
              input.form-control(type='text', name='tipo', placeholder='Ingrese el tipo (flores, arreglo, etc.)', required='', autofocus='')
              input.form-control(type='text', name='nombre', placeholder='Ingrese el nombre', required='', autofocus='')
              input.form-control(type='text', name='descrip', placeholder='Ingrese la descripción', required='', autofocus='')
              input.form-control(type='text', name='imagen', placeholder='Ingrese la imagen', required='', autofocus='')
              input.form-control(type='text', name='precio', placeholder='Ingrese el precio del producto unitario', required='', autofocus='')
        
              button.btn.btn-lg.btn-block(type='submit') Enviar