include templates/default

  include templates/nav


  .row
      each item in catalogo
        .col-sm-6.col-md-4
          .thumbnail
            img(src='#{item.imagen}', alt='...').img-responsive
            .caption
              h3 #{item.nombre}
              p.description #{item.descripcion}
              .clearfix
                .price Precio: #{item.precio} $
                a.btn.btn-success.pull-right(href='#', role='button') Agregar al carrito