extends templates/default
link(rel='stylesheet', href='/stylesheets/style.css')

block content
  img(style='width:90%; height:500px',src='/images/portada.jpg')
  br
  br
  #todo
    center
      h1 ¿Qué Necesitas?
    #izquierda 
      img(style='width:300px; height:300px',src='/images/5.jpg')
    #derecha
      img(style='width:300px; height:300px',src='/images/3.jpg')
    #contenido
      p
        img(style='width:300px; height:300px',src='/images/12.jpg')