include templates/default
   nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.justify-content-end
      a.navbar-brand(href='#') FlowerSoft
      button.btn.btn-success.ml-auto.invisible Always Show
      

  .wrapper
      form.form-signin(action='/login', method='POST')
        h2.form-signin-heading.text-center Login
        input.form-control(type='text', name='email', placeholder='Email', required='', autofocus='')
        input.form-control(type='password', name='password', placeholder='Password', required='')

        button.btn.btn-lg.btn-block(type='submit') Ingresar
        a.text-center(href='/registro') ¿No se ha registrado? Crear cuenta

  include templates/footer
