extends templates/default
link(rel='stylesheet', href='/stylesheets/style.css')

block content
  
  br
  br
  #todo
    center
      
      h1 Creacion de pedidos
      form(action='/dashboard/crearPedido', method='POST')
       input(placeholder='detalle', name='detalle', type='text')
       input(placeholder='fecha', name='fecha', type='text')
       button(type='submit') Crear

