extends layout

block content
    // Post
    if posts.length == 0
        h3 There is no any post here :(
    else
        each post in posts
            article.post
                header
                    .title
                        h2
                            a(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title))= post.title
                        p
                    .meta
                        a.button.big(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title)) Comprar
                a.image.featured(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title))
                    img(src="/images/covers/" + post.coverPhoto, alt='', width='300px', height='300px')
                    
                p= truncateContent(post.content)
                    
        // Pagination
        include parts/pagination
