ul.actions.pagination
	li
		if page > 1
			a.button.big.previous(href='?page=' + (page - 1)) Previous Page
		else
			a.disabled.button.big.previous(href='') Página Anterior
	li
		if (page < totalPages)
			a.button.big.next(href='?page=' + (page + 1)) Siguiente Página
		else
			a.disabled.button.big.next(href='#') Siguiente Página